{%extends 'app/base.html'%}
{%block content%}
	<div class="row">
		{%for file in files%}
			<div class="col-lg-3 col-md-4  card-list">
				<div class="card">
					<div class="card-header">
						<h3>{{file.title}}<span class="badge badge-warning" style="float: right; font-size: 50%;">{{file.get_category_display}}</span></h3>
					</div>
				  <div class="card-body">
				    <img class="defaultImg" src="media/default.png">
				    <p class="card-text">{{file.description}}</p>
				    <a href="{{ file.file.url }}" download  class="btn btn-dark float-right">Download</a>
				  </div>
				</div>
			</div>
		{%endfor%}
	</div>
{%endblock content%}